@media print {

    .no-print {
        display: none !important;
    }

    #certificate-template-image {
        display: block;
        position: absolute;
        top: 0;
    }

    .cert-text {
        margin-top: 200px;
    }

    #certificate-body .certificate-heading {
        /*font-size: 75px;*/
    }

    #certificate-body .student-name {
        /*font-size: 60px;*/
    }

    #certificate-body .exam-name {
        /*font-size: 50px;*/
    }

    #certificate-body .cert-line-1,
    #certificate-body .cert-line-2,
    #certificate-body .connector
     {
        /*font-size: 30px;*/
    }

    #certificate-body .cert-date,
    #certificate-body .site-name {
        /*font-size: 35px;*/
    }

}
