<div id="rules-dialog" data-ng-show="!vm.rulesDialogHidden">
    <div class="rules-dialog-inner-container">
        <div class="title">Exam Rules</div>
        <ul>
            <li>
                To leave the exam anytime click on either "Submit" or "Abort" button located at the bottom of the page
            </li>
            <li>
                This is a free tool for self evaluation. So, cheat if you want,  no one cares.
            </li>
        </ul>

        <div class="footer">
            <span>Good Luck!</span>
            <br/>
            <button type="button" class="btn btn-primary btn-lg start-exam-btn" data-ng-click="vm.startExam()">Start Exam</button>
        </div>

        
    </div>
</div>

<div id="examenvbody" data-ng-show="!!vm.rulesDialogHidden">
    <div id="examenvheader">
        <img class="small-logo" src="images/white-knexaa-bgless.png" alt="KNEXAA Logo" />
        <div class="timer font-electrolize" data-ng-class="{'last5minalert': vm.last5minLeft}">
            {{vm.displayTime}}
        </div>
    </div>
    <!-- Wrapper to contain ALL THE QUESTIONS -->
    <div id="q-wrapper">    
        <div class="qa-panel panel panel-default" data-ng-repeat="qa in vm.questions">
            <div class="panel-heading">
                <div class="panel-title">

                    <pre data-ng-show="(qa.q.indexOf('\n') >= 0 || qa.q.indexOf('br>') >= 0)"><b>{{"[Q " + ($index+1) + "] "}}</b>{{qa.q.trim()}}</pre>

                    <span data-ng-show="(qa.q.indexOf('\n') < 0 && qa.q.indexOf('br>') < 0)">
                        <b>{{"[Q " + ($index+1) + "] "}}</b>{{qa.q.trim()}}
                    </span>
                </div>
            </div>


            
            <!-- SingleAnsMCQ Options STARTS Here-->
            <div class="panel-body options-container"
            data-ng-if="(qa.key && qa.key[0] === 'A') || (qa.ans && typeof(qa.ans) === 'string' && qa.ans.length === 1)" 
            data-ng-init="qa.chosenAns='Z'; qa.type='A';">

                <div data-ng-repeat="op in qa.options">

                    <pre data-ng-show="(op.indexOf('\n') >= 0 || op.indexOf('br>') >= 0)"><input type="radio" value="{{vm.optionIndices[$index]}}" data-ng-model="qa.chosenAns"> {{vm.optionIndices[$index] + ". " + op.trim()}}</pre>


                    <span data-ng-show="(op.indexOf('\n') < 0 && op.indexOf('br>') < 0)" class="option-radio-container">
                        <input type="radio" value="{{vm.optionIndices[$index]}}" data-ng-model="qa.chosenAns"> {{vm.optionIndices[$index] + ". " + op.trim()}}
                    </span>


                </div>
                <div>
                    <pre><input type="radio" value="Z" data-ng-model="qa.chosenAns"> Z. I don't want to answer</pre> 
                </div>
            </div>
            <!-- SingleAnsMCQ Options ENDS Here-->


            <!-- MultiAnsMCQ Options STARTS Here-->
            <div class="panel-body options-container" 
            data-ng-if="(qa.key && qa.key[0] === 'B') || (qa.ans && Array.isArray(qa.ans))"
            data-ng-init="qa.chosenAns={}; qa.type='B';">
                <div data-ng-repeat="op in qa.options">

                    <pre data-ng-show="(op.indexOf('\n') >= 0 || op.indexOf('br>') >= 0)"><input type="checkbox" value="{{vm.optionIndices[$index]}}" data-ng-model="qa.chosenAns[vm.optionIndices[$index]]"> {{vm.optionIndices[$index] + ". " + op.trim()}}</pre>


                    <span data-ng-show="(op.indexOf('\n') < 0 && op.indexOf('br>') < 0)" class="option-radio-container">
                        <input type="checkbox" value="{{vm.optionIndices[$index]}}" data-ng-model="qa.chosenAns[vm.optionIndices[$index]]"> {{vm.optionIndices[$index] + ". " + op.trim()}}
                    </span>
                </div>
            </div>
            <!-- MultiAnsMCQ Options ENDS Here-->



        </div>
    </div>
    <div class="button-footer">
        <button type="button" class="btn btn-danger btn-lg" data-ng-click="vm.abortExam()"><i class="fa fa-angle-double-left"></i> Abort</button>

        <button type="button" class="btn btn-success btn-lg pull-right" data-ng-click="vm.submitExam()">Submit <i class="fa fa-angle-double-right"></i></button>               
    </div>
    
</div>